/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Font weights
Default: 400
Medium: 500
Semi-bold: 600
Bold: 700

- Line heights
Default: 1
Small: 1.05
Medium: 1.2
Paragraph default: 1.6

- Letter spacing
-0.5px
0.75px

--- 02 COLORS

- Primary: #e67e22
- Tints:
#fdf2e9
#fae5d3
#eb984e


- Shades: 
#cf711f
#45260a

- Accents:
- Greys

#888
#767676 (lightest grey allowed on #fff)
#6f6f6f (lightest grey allowed on #fdf2e9)
#555
#333

--- 05 SHADOWS

0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);

--- 06 BORDER-RADIUS

Default: 9px
Medium: 11px

--- 07 WHITESPACE

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-size: 14px;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}
/* ------end resset ------*/

html {
  font-size: 62.5%;
}

body {
  font-family: "inter", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
}
*:focus {
  box-shadow: 0px 0px 0px 8px rgba(81, 41, 15, 0.5);
}
.conteiner {
  /* ! max-width not width */
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
}
.headline {
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.12rem;
  color: #cd680f;
}

.title {
  font-size: 3rem;
  font-weight: 600;
  margin-bottom: 2.4rem;
}
.grid {
  display: grid;
  gap: 3.2rem;
}

.grid-2-cl {
  grid-template-columns: 1fr 1fr;
}
.grid-3-cl {
  grid-template-columns: 1fr 1fr 1fr;
}

.grid-4-cl {
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.center {
  align-items: center;
}
/*  */
.navigation {
  background-color: #fdf2e9;
  position: relative;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.6rem;
}

.logo {
  height: 2.4rem;
}

/* maniu */

.nav-maniu-btn {
  border: none;
  background: none;
}
.nav-maniu-icon {
  display: none;
}

/*  */

.navigation-list-ul {
  display: flex;
  gap: 1.5rem;
}

.nav-maniu-icon {
  font-size: 2.4rem;
}

.nav-maniu-icon [close-outline] {
  display: none;
}
/*  */
.navigation-list-ul a:link,
.navigation-list-ul a:visited {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.12rem;
  color: rgb(48, 44, 44);
  transition: all 0.3s;
}

.navigation-list-ul a:active,
.navigation-list-ul a:hover {
  color: #954804;
}

.navigation-list-ul .last-ul-li:link,
.navigation-list-ul .last-ul-li:visited {
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  background-color: #eb984e;
  color: #fff;
}

.navigation-list-ul .last-ul-li:active,
.navigation-list-ul .last-ul-li:hover {
  background-color: #954804;
}
/* hero-section */
.hero-section {
  background-color: #fdf2e9;
  padding: 4.8rem 0;
}
.hero {
  color: rgb(48, 44, 44);
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 6.4rem;
}

.hero-img img {
  width: 100%;
}
h1 {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 4.8rem;
}

.hero-text {
  font-size: 2.4rem;
  line-height: 3rem;
  letter-spacing: 0.12rem;
  margin-bottom: 4.8rem;
}

.margin-right-sm {
  margin-right: 4.8rem;
  color: rgb(48, 44, 44);
}

.costumers {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}

.costumers-img {
  display: flex;
}

.costumers img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 3px solid white;
  margin-left: -1.6rem;
}
/* !shoud delete margin from first element */
.costumers img:first-child {
  margin: 0;
}
.costumer-text {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.12rem;
  /* margin-left: 1.6rem; */
}

.costumer-text span {
  font-weight: 700;
  color: #eb984e;
}
.btns {
  margin-bottom: 4.8rem;
}

.btn {
  display: inline-block;
  padding: 15px 30px;
  border-radius: 0.5rem;
  font-weight: 600;
}
.btn-start:link,
.btn-start:visited {
  background-color: #eb984e;
  color: #fdf2e9;
  font-size: 1.4rem;
  transition: 0.4s;
}

.btn-learn:link,
.btn-learn:visited {
  background-color: white;
  font-weight: 600;
  transition: 0.4s;
  font-size: 1.4rem;
  color: rgb(48, 44, 44);
}
.btn-learnt:active,
.btn-learn:hover {
  box-shadow: inset 0 0 3px #eb984e;
  background-color: #fdf2e9;
}
/* feautered-in-section  */

.feautered-in-section {
  padding: 9.6rem 0;
}

.feautered-in-title {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  color: #888;
  margin-bottom: 1.2rem;
}

.logos img {
  width: 15%;
  filter: brightness(0);
  opacity: 50%;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
/* how-it-works-section */
.how-it-works-section {
  padding: 0 0 9.6rem 0;
}
.number {
  font-size: 8.6rem;
  font-weight: 700;
  color: #ddd;
}

.card-title {
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.descreption {
  font-size: 2.4rem;
  line-height: 2rem;
  font-weight: 500;
  letter-spacing: 0.13rem;
  font-size: 1.6rem;
  color: #333;
}
.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.how-it-works-img {
  width: 40%;
  z-index: 3;
}

.img-box:before {
  content: "";
  width: 60%;
  padding-bottom: 60%;
  border-radius: 50%;
  background-color: #fdf2e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.img-box::after {
  content: "";
  width: 50%;
  padding-bottom: 50%;
  border-radius: 50%;
  background-color: #ffd8a8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}
/* meals-section */
.meals-section {
  padding: 9.6rem 0;
}
.card-meal {
  border-radius: 1.2rem;
  overflow: hidden;
  transition: 0.6s;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.112);
}

.card-meal:hover {
  transform: translateY(0.5rem);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.421);
}
.card-img {
  width: 100%;
}

.card-text {
  padding: 1.8rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.tag-box {
  display: flex;
  gap: 4px;
  text-align: center;
}
.tag {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.12rem;
  padding: 0.2rem 0.4rem;
  border-radius: 9px;
}
.Vegetarian {
  background-color: #b2f2bb;
}

.Vegan {
  background-color: #d8f5a2;
}

.Paleo {
  background-color: #ffd43b;
}
.title-card {
  font-weight: 700;
  font-size: 1.8rem;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.icon {
  font-size: 2rem;
  color: #f76707;
}
.card-list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.list-item {
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.4rem;
}
.list {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}
.recepies {
  text-align: center;
  padding: 1.8rem;
}
.recepies-bnt:link,
.recepies-bnt:visited {
  color: #e8590c;
  padding-bottom: 0.2rem;
  border-bottom: 1px solid #adb5bd;
  transition: 0.3s;
}

.recepies-bnt:hover,
.recepies-bnt:active {
  color: #d9480f;
  border-bottom: none;
}
/* testemonial-section */
.testemonial-section {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  margin-bottom: 4.8rem;
  align-items: center;
}
.testemonials-container {
  padding: 9.6rem;
  align-items: center;
}

.testemonial img {
  width: 50px;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

blockquote {
  font-size: 1.4rem;
  line-height: 2rem;
}

.testemonial-name {
  font-size: 16px;
  line-height: 26px;
  color: #15143966;
}

.gallery {
  display: grid;
  gap: 1.2rem;
  padding: 1.2rem 1.2rem 1.2rem 0;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.gallery figure {
  overflow: hidden;
}

.gallery figure img {
  width: 100%;
  transition: all 0.4s;
}

.gallery figure img:hover {
  transform: scale(1.1);
}
/* pricing-section */
.pricing-section {
  padding: 9.6rem 0;
}
.pricing {
  margin-bottom: 4.8rem;
}

.plan {
  width: 50%;
  height: 100%;
  padding: 4.8rem 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.plan-started {
  justify-self: end;
  border: 4px solid #fdf2e9;
  /* !remove border size paddings */
  padding: 4.4rem 1.4rem;
}
.plan-complete {
  background-color: #fdf2e9;

  position: relative;
  overflow: hidden;
}

.plan-complete::after {
  content: "best value";
  position: absolute;
  top: 7%;
  right: -12%;
  text-transform: uppercase;
  background-color: yellow;
  border-radius: 9px;
  padding: 0.8rem 3.6rem;
  transform: rotate(45deg);

  color: #333;
  font-size: 1.2rem;
  font-weight: 700;
}

.plan-text {
  text-align: center;
  margin-bottom: 1.2rem;
}
.plan-title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.12rem;
  color: #333;
  margin-bottom: 1.2rem;
  color: #cf711f;
}
.plan-price {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 0.75rem;
  margin-bottom: 1.2rem;
  color: #333;
}

.plan-price span {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 0.75rem;
  margin-bottom: 1.2rem;
  color: #333;
}
.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}

.taxes {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 0.75rem;
  margin-bottom: 4.8rem;
  color: #7f7f7f;
}

.feautered-icons {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  color: #cf711f;
  background-color: #fdf2e9;
}

.feautere-title {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.feautere-text {
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 2rem;
  margin-bottom: 0.8rem;
}

/* form-section */
.form-section {
  padding: 9.6rem 0;
}

.cta {
  display: grid;
  grid-template-columns: 2fr 1fr;
  background-image: linear-gradient(#eb984e, #cf711f);
  overflow: hidden;
  border-radius: 11px;
}
.cta-text-box {
  padding: 4.8rem 3.6rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 3.6rem;
}

.cta-img {
  background-image: linear-gradient(
      rgba(235, 151, 78, 0.5),
      rgba(207, 113, 31, 0.5)
    ),
    url("../img/eating.jpg");
  background-position: center;
  background-size: cover;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
  row-gap: 1.6rem;
}

form label {
  display: block;
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

form input,
form select {
  /* ! form inputs width must be 100% */
  width: 100%;

  padding: 1.2rem;
  border-radius: 9px;
  font-size: 16px;
}
form input:focus,
form select:focus {
  box-shadow: 0px 0px 0px 8px rgba(253, 242, 233, 0.5);
}
.btn--form {
  align-self: end;
  background-color: #51290f;
  color: #fdf2e9;
  padding: 1.4rem;
  border-radius: 9px;
}
/* footer */
.footer {
  border-top: 1px solid #eee;
  padding: 9.6rem 0;
}

.grid-footer {
  grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
}

.footer-icon {
  display: flex;
  gap: 1.2rem;
}

.logo-box {
  display: flex;
  flex-direction: column;
}
.footer-logo {
  width: 35%;
  margin-bottom: 3.6rem;
}
.footer-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #7f7f7f;
}

.Copyright {
  margin-top: auto;
  font-weight: 500;
  color: #7f7f7f;
  font-size: 1.4rem;
}

.footer-headline {
  font-weight: 600;
  color: #666;
  font-size: 1.6rem;
  margin-bottom: 3.6rem;
}

.footer-ul-list li {
  margin-bottom: 1.8rem;
}

.footer-list:link,
.footer-list:visited {
  font-weight: 500;
  color: #7f7f7f;
  font-size: 1.4rem;
}

.footer-list:hover,
.footer-list:active {
  font-weight: 500;
  color: #7f7f7f;
  font-size: 1.4rem;
}

address {
  font-style: normal;
  text-decoration: none;
}

.adress {
  margin-bottom: 2.4rem;
}

.adress {
  font-weight: 500;
  color: #7f7f7f;
  font-size: 1.4rem;
}

.contacts {
  font-weight: 500;
  color: #7f7f7f;
  font-size: 1.4rem;
}

/* RESPONCIVE  */

@media (max-width: 58em) {
  html {
    font-size: 9px;
  }

  h1 {
    font-size: 3.6rem;
  }

  .gallery {
    grid-template-columns: 1fr 1fr;
  }
  .testemonials-container {
    padding: 4.8rem;
  }

  .plan {
    width: 70%;
  }
  .footer-logo {
    width: 65%;
  }
  .footer-ul-list li {
    line-height: 1.8rem;
  }
}

@media (max-width: 50em) {
  html {
    font-size: 8px;
  }
  /* _________________________________________ */

  .navigation-list-ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 12rem;
  }
  .header-list {
    opacity: 0;
    pointer-events: none;
    visibility: none;
    transition: all 0.5s;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    background-color: #ffffffe6;
  }
  .nav-maniu-icon[name="menu-outline"] {
    display: block;
  }

  .open .header-list {
    position: absolute;
    top: 0;
    left: 0;

    opacity: 1;
    pointer-events: all;
    visibility: visible;
    transform: translateX(1%);
  }

  .open .nav-maniu-icon[name="menu-outline"] {
    display: none;
  }
  .open .nav-maniu-icon[name="close-outline"] {
    display: block;
  }

  .hero {
    grid-template-columns: 1fr;
  }

  .hero-text-block {
    text-align: center;
  }

  h1 {
    font-size: 4.4rem;
  }

  .hero-img img {
    width: 60%;
  }
  .hero-img {
    text-align: center;
  }
  .costumers {
    justify-content: center;
  }

  .testemonial-section {
    grid-template-columns: 1fr;
    padding-left: 12px;
  }
  .gallery {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  }
  .plan {
    width: 90%;
  }

  .taxes {
    font-size: 1.8rem;
  }

  form {
    grid-template-columns: 1fr;
  }

  form label {
    font-size: 1.4rem;
  }

  .card-text {
    padding: 1.2rem 1.8rem;
  }
}

/* - Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128 */
