body {
  font-family: sans-serif;
}

.navigation {
  background-color: #fdf2e9;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.navigation-list-ul {
  display: flex;
  gap: 1.5rem;
}

.logo {
  width: 15%;
}

.hero-section {
  background-color: #fdf2e9;
}

.section-hero {
  padding: 1.6rem 2.4rem;
}

.hero {
  color: rgb(48, 44, 44);
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  gap: 6.4rem;
}

.hero-img img {
  width: 100%;
}

h1 {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 4.8rem;
}

.hero-text {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.12rem;
  margin-bottom: 4.8rem;
}

.margin-right-sm {
  margin-right: 4.8rem;
  color: rgb(48, 44, 44);
}

.costumers {
  display: flex;
  align-items: center;
}
.costumers-img {
  display: flex;
}

.costumers img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid white;
  margin-left: -1.6rem;
}

.costumer-text {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.12rem;
  margin-left: 1.6rem;
}

.costumer-text span {
  font-weight: 700;
  color: #eb984e;
}

.how-it-works {
  position: relative;
  padding: 2.4rem;
}

.number {
  font-size: 8.6rem;
  font-weight: 700;
  color: #ddd;
}

.card-title {
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}

.descreption {
  font-size: 1.4rem;
}

.img-box {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.how-it-works-img {
  width: 40%;
  z-index: 3;
}

.img-box:before {
  content: "";
  width: 60%;
  padding-bottom: 60%;
  border-radius: 50%;
  background-color: #fdf2e9;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.img-box::after {
  content: "";
  width: 50%;
  padding-bottom: 50%;
  border-radius: 50%;
  background-color: #ffd8a8;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.feautered-in {
  padding: 1.6rem;
}

.feautered-in-title {
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  color: #888;
  margin-bottom: 1.2rem;
}

.logos img {
  width: 15%;
  filter: brightness(15%);
  opacity: 0.5;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.card-meal {
  border-radius: 1.2rem;
  overflow: hidden;
  transition: 0.6s;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.112);
}

.card-meal:hover {
  transform: translateY(0.5rem);
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.421);
}

.card-text {
  padding: 1.8rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.card-img {
  width: 100%;
}

.tag-box {
  display: flex;
  gap: 4px;
  text-align: center;
}
.tag {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.12rem;
  padding: 0.2rem 0.4rem;
  border-radius: 9px;
}

.title-card {
  font-weight: 700;
  font-size: 1.8rem;
}

.card-list {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

.recepies {
  text-align: center;
  padding: 1.8rem;
}

.testemonial-section {
  background-color: #fdf2e9;
  display: grid;
  grid-template-columns: 55fr 45fr;
  margin-bottom: 4.8rem;
}
.testemonials {
  padding: 9.6rem;
  align-items: center;
}

.testemonial img {
  width: 50px;
  border-radius: 50%;
  margin-bottom: 1.6rem;
}

blockquote {
  font-size: 1.4rem;
  line-height: 2rem;
}

.testemonial-name {
  font-size: 16px;
  line-height: 26px;
  color: #15143966;
}

.gallery {
  display: grid;
  gap: 1.2rem;
  padding: 1.2rem 1.2rem 1.2rem 0;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.gallery figure {
  overflow: hidden;
}

.gallery figure img {
  width: 100%;
  transition: 0.4s;
}

.gallery figure img:hover {
  transform: scale(1.1);
}
.pricing {
  margin-bottom: 4.8rem;
}

.plan {
  width: 60%;
  height: 100%;
  padding: 4.8rem 1.8rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.plan-started {
  justify-self: end;
  border: 4px solid #fdf2e9;
}
.plan-complete {
  background-color: #fdf2e9;

  position: relative;
  overflow: hidden;
}

.plan-complete::after {
  content: "best value";
  position: absolute;
  top: 7%;
  right: -12%;
  text-transform: uppercase;
  background-color: yellow;
  border-radius: 9px;
  padding: 0.8rem 3.6rem;
  transform: rotate(45deg);

  color: #333;
  font-size: 1.2rem;
  font-weight: 700;
}

.plan-text {
  text-align: center;
  margin-bottom: 1.2rem;
}
.plan-title {
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.12rem;
  color: #333;
  margin-bottom: 1.2rem;
  color: #cf711f;
}
.plan-price {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 0.75rem;
  margin-bottom: 1.2rem;
  color: #333;
}

.plan-price span {
  font-size: 1.8rem;
  font-weight: 700;
  line-height: 0.75rem;
  margin-bottom: 1.2rem;
  color: #333;
}
.btn-box {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
.btn {
  display: inline-block;
}

.taxes {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 500;
  line-height: 0.75rem;
  margin-bottom: 4.8rem;
  color: #7f7f7f;
}

.feautered-icons {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  padding: 0.8rem;
  margin-bottom: 0.8rem;
  color: #cf711f;
  background-color: #fdf2e9;
}

.feautere-title {
  font-weight: 700;
  font-size: 1.6rem;
  margin-bottom: 0.8rem;
}

.feautere-text {
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 0.8rem;
}

.form-section {
  padding: 9.6rem;
}

.cta {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background: linear-gradient(#eb984e, #cf711f);
  overflow: hidden;
  border-radius: 11px;
}
.cta-text-box {
  padding: 4.8rem 3.6rem;
}

.cta-text {
  font-size: 1.8rem;
  line-height: 1.8;
  margin-bottom: 3.6rem;
}

.cta-img {
  background-image: linear-gradient(
      rgba(235, 151, 78, 0.5),
      rgba(207, 113, 31, 0.5)
    ),
    url("../img/eating.jpg");
  background-position: center;
  background-size: cover;
}

form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2.4rem;
  row-gap: 1.6rem;
}

form label {
  display: block;
  font-size: 1.2rem;
  font-weight: 600;
  margin-bottom: 1.2rem;
}

form input,
form select {
  width: 400px;
  padding: 1.2rem;
  border-radius: 9px;
  font-size: 16px;
}

.btn {
  align-self: end;
  background-color: #51290f;
  color: #fdf2e9;
  padding: 1.4rem;
}

form input:focus,
form select:focus {
  box-shadow: 5px 5px 5px rgba(253, 242, 233, 0.5);
}
