body{
  font-family: sans-serif;
}



.navigation {
  background-color: #fdf2e9;
  padding: 1.5rem;
  display: flex;
  justify-content: space-between;
}

.navigation-list-ul {
  display: flex;
  gap: 1.5rem;
}

.logo {
  width: 15%;
}
ul li:last-child a:link,
ul li:last-child a:visited  {
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  background-color: #eb984e;
  color: #fff;

}
ul a:link,
ul a:visited {
  font-size: 1.4rem;
  font-weight: 700;
  line-height: 2rem;
  letter-spacing: 0.12rem;
  color: rgb(48, 44, 44);
}

ul a:active,
ul a:hover {
  color: #954804;
}

.hero-section{
  background-color: #fdf2e9;
}

.section-hero {
padding: 1.6rem 2.4rem;
}

.hero {
  color: rgb(48, 44, 44);
  font-family: sans-serif;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  justify-content: center;
  gap: 6.4rem;
}

.hero-img img {
  width: 100%;
}

h1 {
  font-size: 4.4rem;
  font-weight: 700;
  margin-bottom: 4.8rem;
}

.hero-text {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.12rem;
  margin-bottom: 4.8rem;
}
.btns {
  margin-bottom: 4.8rem;
}

.btn {
  padding: 15px 30px;
  border-radius: 0.5rem;
  font-weight: 600;
}
.btn-start:link,
.btn-start:visited {
  background-color: #eb984e;
  color: #fdf2e9;
}

.btn-learn:link,
.btn-learn:visited {
  background-color: white;
  font-weight: 600;
  color: rgb(48, 44, 44);
}
.btn-learnt:active,
.btn-learn:hover {
  box-shadow: inset 0 0 3px #eb984e;
  background-color: #fdf2e9;
}

.margin-right-sm {
  margin-right: 4.8rem;
  color: rgb(48, 44, 44);
}

.costumers {
  display: flex;
  align-items: center;
}
.costumers-img {
  display: flex;
}

.costumers img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: solid white;
  margin-left: -1.6rem;
}

.costumer-text {
  font-size: 1.4rem;
  line-height: 2rem;
  letter-spacing: 0.12rem;
  margin-left: 1.6rem;
}

.costumer-text span {
  font-weight: 700;
  color: #eb984e;
}

.how-it-works{
  position: relative;
  padding:  2.4rem;
}


.number{
  font-size: 8.6rem;
  font-weight: 700;
  color: #ddd;
}

.card-title{
  font-weight: 600;
  font-size: 2.4rem;
  margin-bottom: 1.6rem;
}


.descreption{
  font-size: 1.4rem;
 
}

.img-box{
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

}


.how-it-works-img{
  width: 40%;
  z-index: 3;


}

.img-box:before{
  content: "";
  width: 60%;
  padding-bottom: 60%;
  border-radius: 50%;
  background-color: #fdf2e9;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 1;
}

.img-box::after{
  content: "";
  width: 50%;
  padding-bottom: 50%;
  border-radius: 50%;
  background-color: #ffd8a8;
  position: absolute;
  top:50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 2;
}


.feautered-in{
  padding: 1.6rem;
}



.feautered-in-title{
  text-transform: uppercase;
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
  color: #888;
  margin-bottom: 1.2rem;
}

 .logos img{
width: 15%;
filter: brightness(15%);
opacity: 0.5;
 }

.logos{
  display: flex ;
  align-items: center;
  justify-content: space-around;
  
}

.card-meal{
  border-radius: 1.2rem;
  overflow: hidden;
  box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.112);
}

.card-text{
  padding: 1.8rem 2.4rem;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.card-img{
  width: 100%;
}

.tag-box{
  display: flex;
  gap: 4px;
 text-align: center;
}
.tag{
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 2rem;
  letter-spacing: 0.12rem;
  padding: 0.2rem 0.4rem;
  border-radius: 9px;


}

.title-card{
  font-weight: 600;
  font-size: 1.8rem;
}

.card-list{
  display: flex;
  flex-direction: column;
  gap:0.8rem;
}


.list{
  display: flex;
  flex-direction: column;
gap: 1.2rem;
}

.list-item{
  display: flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.4rem;

}

